#stage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: transparent;
    z-index: 30;
}
.curtain {
    position: absolute;
    background: -moz-linear-gradient(right,rgba(0,0,0,0),#4d4d4d,rgba(51,51,51,0.993),#4d4d4d), -moz-linear-gradient(right,rgba(51,51,51,0.997),rgba(77,77,77,0.999),rgba(51,51,51,0.998));
    background: -o-linear-gradient(right,rgba(0,0,0,0),#4d4d4d,rgba(51,51,51,0.993),#4d4d4d), -o-linear-gradient(right,rgba(51,51,51,0.997),rgba(77,77,77,0.999),rgba(51,51,51,0.998));
    background: -webkit-linear-gradient(right,rgba(0,0,0,0),#4d4d4d,rgba(51,51,51,0.993),#4d4d4d), -webkit-linear-gradient(right,rgba(51,51,51,0.997),rgba(77,77,77,0.999),rgba(51,51,51,0.998));
    background: linear-gradient(to left,rgba(0,0,0,0),#4d4d4d,rgba(51,51,51,0.993),#4d4d4d), linear-gradient(to left,rgba(51,51,51,0.997),rgba(77,77,77,0.999),rgba(51,51,51,0.998));
    background-size: 67px 67px, 53px 53px;
    width: 60%;
    height: 100%;
    margin-left: -10%;
    transition: width 4s, -webkit-transform 2s;
}
.balance {
    position: absolute;
    background: -moz-linear-gradient(right,rgba(0,0,0,0),#4d4d4d,rgba(26,26,26,0.993),#4d4d4d), -moz-linear-gradient(right,rgba(26,26,26,0.997),rgba(38,38,38,0.999),rgba(26,26,26,0.998));
    background: -o-linear-gradient(right,rgba(0,0,0,0),#4d4d4d,rgba(26,26,26,0.993),#4d4d4d), -o-linear-gradient(right,rgba(26,26,26,0.997),rgba(38,38,38,0.999),rgba(26,26,26,0.998));
    background: -webkit-linear-gradient(right,rgba(0,0,0,0),#4d4d4d,rgba(26,26,26,0.993),#4d4d4d), -webkit-linear-gradient(right,rgba(26,26,26,0.997),rgba(38,38,38,0.999),rgba(26,26,26,0.998));
    background: linear-gradient(to left,rgba(0,0,0,0),#4d4d4d,rgba(26,26,26,0.993),#4d4d4d), linear-gradient(to left,rgba(26,26,26,0.997),rgba(38,38,38,0.999),rgba(26,26,26,0.998));
    background-size: 67px 67px, 53px 53px;
    background-size: 79px 79px, 61px 61px;
    width: 100%;
    height: 15%;
    transition: height 2s 1s;
}
#curtain-right {
    right: 0;
    margin-right: -10%;
    -webkit-transform: matrix(-1,0,0,1,0,0);
    -moz-transform: matrix(-1,0,0,1,0,0);
    -ms-transform: matrix(-1,0,0,1,0,0);
    -o-transform: matrix(-1,0,0,1,0,0);
}
.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 40;
    background: -moz-radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.3) 60%), -moz-radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.5) 40%);
    background: -o-radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.3) 60%), -o-radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.5) 40%);
    background: -webkit-radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.3) 60%), -webkit-radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.5) 40%);
    background: radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.3) 60%), radial-gradient(circle,rgba(0,0,0,0),rgba(0,0,0,0.5) 40%);
    background-attachment: fixed;
    background-position: -80px 0, 80px 0;
    transition: 4s;
}
#curtain-left.open {
    width: 15px;
    -webkit-transform: matrix(1,0,-0.2,1,0,0);
    -moz-transform: matrix(1,0,-0.2,1,0,0);
    -ms-transform: matrix(1,0,-0.2,1,0,0);
    -o-transform: matrix(1,0,-0.2,1,0,0);
}
#curtain-right.open {
    width: 15px;
    -webkit-transform: matrix(-1,0,0.2,1,0,0);
    -moz-transform: matrix(-1,0,0.2,1,0,0);
    -ms-transform: matrix(-1,0,0.2,1,0,0);
    -o-transform: matrix(-1,0,0.2,1,0,0);
}

.balance.open {
    height: 0;
}
.spotlight.open {
    opacity: 0;
}

.ray {
    clip-path:polygon(0% 45%, 100% 0%, 100% 100%, 0% 55%);
    transition: 4s;
    transform: translateY(-50%) translateX(-50%) rotate(var(--angle)) translateY(50%) translateX(50%) translateY(-50%);
    position: absolute;
    top: 15px;
    left: 50%;
    width: 500px;
    height: 200px;
    background: linear-gradient(0.25turn, rgb(27 211 255 / 46%), rgba(255, 255, 100, 0));
    z-index: 6;
}


.light1 {
    position: absolute;
    top: 100px;
    left: 0;
    animation-duration: 10s;
    animation-name: wave;
    animation-iteration-count: infinite;
}

.light2 {
    position: absolute;
    top: 100px;
    animation-duration: 7s;
    animation-name: wave;
    animation-iteration-count: infinite;
}

.sum {
    animation-duration: .5s;
    animation-name: dance;
    animation-iteration-count: infinite;
}

@keyframes dance {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 5%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes wave {
    0% {
        --angle: 90deg;
    }

    50% {
        --angle: 110deg;
    }
    100% {
        --angle: 60deg;
    }
}

